.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: aqua;
  grid-row-start: 1;
  height: $s-header;
}

.burgerMenuButton {
  position: absolute;
  right: 0;
}
/*----------------------------------------------------------------------------------
-------------------------------------  MOBILE --------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 320px) {
}

/*----------------------------------------------------------------------------------
-------------------------------------  TABLETTE ------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 599px) {
}

@media (min-width: 899px) {
  .burgerMenuButton {
    display: none;
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  DESKTOP -------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 1199px) {
}
