.add-ticket-form {
  display: flex;
  flex-direction: column;

  #ticket-content {
    height: 300px;
  }

  &-container {
    padding: 1em;
    width: 95%;
    margin: 10% auto;
    border: 1px solid $c-selected;
  }

  .submit-button {
    width: fit-content;
    align-self: flex-end;
    padding: 1em 1.5em;
    margin: 0;
  }
}

/*----------------------------------------------------------------------------------
-------------------------------------  MOBILE --------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 320px) {
}

/*----------------------------------------------------------------------------------
-------------------------------------  TABLETTE ------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 599px) {
}

@media (min-width: 899px) {
  .add-ticket-form {
    &-container {
      width: 40%;
    }
  }
}
/*----------------------------------------------------------------------------------
-------------------------------------  DESKTOP -------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 1199px) {
}
