.connection-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-row-start: 2;

  .login-form-role {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .not-display {
    display: none;
  }
}
