@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

// base
@import 'base/reset', 'base/variables', 'base/global';

// layout
@import 'layout/header', 'layout/footer';

// pages
@import 'pages/connection', 'pages/GTCU', 'pages/addTicket';

// components
@import 'components/headerNav', 'components/submitButton', 'components/field', 'components/roleChoiceButton';
